/* Đảm bảo bạn đã sử dụng đúng module CSS */
body{
    font-family: var(--default-font);
  }
  
  .login {
      max-width: 350px;
      margin: 0 auto;
      padding: 40px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      margin-top: 20px;
    }
    
    .login__title {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 20px;
      color: var(--color-primary-text);
      font-size: 40px;
    }
    
    .login p {
      text-align: center;
      margin-bottom: 50px;
      color: #666;
    }
    .login__icon-button {
      position: absolute;
      margin-top: -50px;
      margin-left: 320px;
      font-size:var(--font-size-medium);
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    
    .login__input {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

    }
    
    .login__input input {
      
      height: 25px;
      padding: 10px 10px 10px 40px;
      /* Tạo khoảng trống cho icon bên trái */
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    
    }
    
    .login__input i {
      z-index: 10; 
      position: absolute;
      margin-left: 10px;
      margin-top: 10px;
      font-size: 25px;
      color: #999;
    }
    
    .btnlogin {
      width: 100%;
      height: 48px;
      margin-top: 32px;
      background-color: var(--color-button);
      color: white;
      font-size: 16px;
      font-weight: 450;
      text-align: center;
      align-items: center;
      border-radius: 5px;
      border: #fff;
    }
    
    .login__checkbox {
      margin-right: 7px;
      cursor: pointer;
    }
    .login__checkbox a {
      padding-left: 90px;
      text-decoration: none;
      font-size: 12.5px;
      font-weight: 500;
      color: black;
      margin-left: 25px;
    }
    .login__divide {
      display: flex;
      align-items: center;
      text-align: center;
      color: #888;
      margin-top: 20px;
    }
    
    .login__divide::before,
    .login__divide::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid #ccc;
    }
    
    .login__divide span {
      padding: 20px;
    }
    
    .login__content {
      font-weight: 600;
      color: #000;
      text-align: center;
      margin: 20px;
    }
    
    .login__content p {
      color: #000;
    }
    
    .login__methodlogin {
      align-items: center;
      text-align: center;
      font-size: 48px;
      margin-top: -20px;
    }
    
    .login__methodlogin i {
      margin: 20px;
    }
    
    .login__methodlogin a {
      text-decoration: none;
    }
    
    .login__register {
      margin: 15px;
    }
    
    .login__register a {
      text-decoration: none;
      color: black;
    }
    
    /* tablet */
       @media (min-width: 612px) {
      .login__icon-button{
       margin-left: 310px;
      }
    } 
    /* Media Queries cho responsive with phone*/
    @media (max-width: 600px) {
      .login {
        padding: 30px;
        border: none;
        box-shadow: none;
      }
    
      .login__input {
        margin-bottom: 10px;
      }
      .login__checkbox a {
      margin-left: -10px;
      }

      .login__icon-button{
        margin-top: -40px;
        right: 15%;
      }
    }