    /* PC Devices (Desktop) */
    @media screen and (min-width: 1025px) {
        header {
            padding: 1rem 2rem;
        }

        nav ul {
            flex-direction: row;
        }

        nav ul li {
            margin-right: 30px;
        }

        .menu-toggle {
            display: none;
        }
    }

    @media screen and (max-width: 1185px) {
      
        .menu-toggle {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            padding: 0 20px;
        }

        .home-link {
            display: flex;
            font-size: 1.2rem;
            color: #333;
        }

        #nav-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            background-color: #f8f8f8;
            padding: 10px 0;
            z-index: 10;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng cho menu */
        }

        #nav-menu.show {
            display: flex;
        }
        #nav-menu li a {
            display: block;
        }
        #nav-menu li {
            text-align: left;
            padding: 10px; /* Thêm khoảng cách cho mỗi mục menu */
            margin-left: 20px;
        }
    }
    /* Tablet Devices (Landscape) */
    @media screen and (min-width: 600px) and (max-width: 1024px) {
        header {
            padding: 1rem 2rem;
        }

        nav ul {
            flex-direction: row;
        }

        .home-content h2 {
            font-size: 1.8rem;
        }

        .services-list {
            flex-direction: column;
            align-items: center;
        }

        .service-item {
            max-width: 100%;
            margin-bottom: 20px;
            width: 750px;
        }

        .appointment-form {
            max-width: 90%;
        }

        .team-members {
            flex-direction: column;
            align-items: center;
        }

        .team-member {
            max-width: 100%;
            margin-bottom: 20px;
        }
    }

    /* Mobile Devices */
    @media screen and (max-width: 599px) {
        .home-content h2 {
            font-size: 1.5rem;
        }
        .service-item {
            max-width: 100%;
            padding: 1rem;
        }

        .appointment-form {
            max-width: 100%;
            padding: 1rem;
        }

        .appointment-form .row {
            flex-direction: column;
            gap: 0;
        }

        .team-members {
            flex-direction: column;
            align-items: center;
        }

        .team-member {
            max-width: 90%;
            margin-bottom: 20px;
        }

        .contact-container {
            flex-direction: column;
        }

        .contact-item {
            max-width: 90%;
        }
    }
